p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

table caption {
  text-align: left;
  color: #777;
}

pre.numberSource code > span > a:first-child::before {
  left: 0em;
}